*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #000;
}

/* NavBar */
.color1{
  background-color: #603601;
}

.nav-route{
  justify-content: end;
}

/* Home Image */
.logo{
  width: 20%;
}
img{
  width: 100%;
}

/* Login/Register */
.box-style{
  border: 1px solid #B2B2B2;
  padding: 1rem 1rem 2rem;
  width: 30% !important;
  background-color: white;
  border-radius: 5px;
}

.container-style{
  padding: 0 !important;
}

.center{
  text-align: center;
}

/* Products */
.display{
  margin-top: 3rem;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1rem 1rem;
  justify-content: space-evenly;
  /* margin-left: 5.5vw; */
}

.quality{
  width: 15% !important;
  margin: 0 auto;
}